.rulr-rightbar {
	overflow: auto;
}

body {
	overflow: hidden;
}

#alerts {
	position: fixed;
	top: 0px;
	margin-left: -25%;
	left: 50%;
}

.toolbar {
	margin-top: 5px;
	margin-bottom: 5px;
}

.toolbarItem {
	margin-right: 5px;
}