.rulr-link-unstyle:link {
	text-decoration: none;
	color: black;
}

.rulr-link-unstyle:visited {
	text-decoration: none;
	color: black;
}

.rulr-link-unstyle:hover {
	text-decoration: none;
	color: black;
}

.rulr-widget {
	padding: 3px;
	border: none;
}

.rulr-widget-title {
	font-style: italic;
	border-bottom: 1px dotted grey;
}

.rulr-widget-content {
	padding-left: 10px;
}

.rulr-widget-title-left {
	float: left;
}

.rulr-widget-content-right {
	float: right;
}

.rulr-widget-numeric-digit {
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid #eee;
	margin: 3px;
	padding: 0px;
	text-align: center;
	width: 25px;
	display: inline-block;
	border-radius: 10px;
	background: #fff;
	cursor: n-resize;
}

.rulr-widget-digit-negative {
	background: #eee;
}

.rulr-widget-numeric-digit-selected {
	background: #ddd;

}
.rulr-widget-numeric-digit-selected:link {
	
}
.rulr-widget-numeric-digit-selected:visited {
	
}

.rulr-widget-numeric-decimalpoint {
	font-family: 'Courier New', Courier, monospace;
	border: none;
	margin: 3px;
	text-align: center;
	width: 20px;
}

.rulr-widget-numeric-sign {
	font-family: 'Courier New', Courier, monospace;
	font-size: 150%;
	margin: 3px;
	padding: 0px;
	text-align: center;
	display: inline-block;
	width: 15px;
}
.rulr-widget-digit-greyed {
	background: none;
	border: none;
}

.rulr-widget-digit-greyed:link {
	color: #eee;
}

.rulr-widget-digit-greyed:visited {
	color: #eee;
}