rulr-widgets-scrollcontainer {
	overflow: scroll;
}
.rulr-link-unstyle:link {
	text-decoration: none;
	color: black;
}

.rulr-link-unstyle:visited {
	text-decoration: none;
	color: black;
}

.rulr-link-unstyle:hover {
	text-decoration: none;
	color: black;
}

.rulr-widget {
	padding: 3px;
	border: none;
}

.rulr-widget-title {
	font-style: italic;
	border-bottom: 1px dotted grey;
}

.rulr-widget-content {
	padding-left: 10px;
}

.rulr-widget-title-left {
	float: left;
}

.rulr-widget-content-right {
	float: right;
}

.rulr-widget-numeric-digit {
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid #eee;
	margin: 3px;
	padding: 0px;
	text-align: center;
	width: 25px;
	display: inline-block;
	border-radius: 10px;
	background: #fff;
	cursor: n-resize;
}

.rulr-widget-digit-negative {
	background: #eee;
}

.rulr-widget-numeric-digit-selected {
	background: #ddd;

}
.rulr-widget-numeric-digit-selected:link {
	
}
.rulr-widget-numeric-digit-selected:visited {
	
}

.rulr-widget-numeric-decimalpoint {
	font-family: 'Courier New', Courier, monospace;
	border: none;
	margin: 3px;
	text-align: center;
	width: 20px;
}

.rulr-widget-numeric-sign {
	font-family: 'Courier New', Courier, monospace;
	font-size: 150%;
	margin: 3px;
	padding: 0px;
	text-align: center;
	display: inline-block;
	width: 15px;
}
.rulr-widget-digit-greyed {
	background: none;
	border: none;
}

.rulr-widget-digit-greyed:link {
	color: #eee;
}

.rulr-widget-digit-greyed:visited {
	color: #eee;
}

.rulr-widgets-componentcard {
	margin-top: 10px;
}

.rulr-widgets-componentcard-toolbar {
	float: right;
	margin: -5px;
}

.rulr-widgets-componentcard-content {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 0px;
}

.rulr-widgets-matrix-table {
	border: none;
}

.rulr-widgets-matrix-table-row {
	border: none;
}

.rulr-widgets-matrix-table-cell {
	font-family: 'Courier New', Courier, monospace;
	text-align: right;
}

.rulr-widgets-matrix-table-cellcontent {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

.rulr-widgets-matrix-table-cellcontent:link {
	color: grey;
}

.rulr-widgets-matrix-table-cellcontent:visited {
	color: grey;
}

.rulr-widgets-matrix-table-cellcontent:hover {
	color: grey;
	
}

.rulr-widgets-matrix-table-cellcontent-selected {
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid #eee;
	background: #eee;
	display: inline-block;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.rulr-widget-matrix-numericeditor-dismiss {
	float: right;
	margin-top: 8px;
	margin-left: 10px;
}