#WorldExplorer-content {
	height : 300px;
	overflow: auto;
}

.worldexplorer-node-toolbar {
	float: right;
}

.worldexplorer-node-nodepath {
	height: 50px;
}

.worldexplorer-node-toolbar {
	
}